# Importing libraries & data

- Libraries

In [1]:
import streamlit as st
import pandas as pd
import numpy as np
import plotly.express as px

- Importing df

In [3]:
df = pd.read_csv(r"C:\Users\DavidVicente\Desktop\IronHack\Final_Project\Apartment_Valuator\Data\cleaned_df.csv")
df.sample()

,id,title,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,floor,rent_price,buy_price,house_type_id,...,has_balcony,has_storage_room,is_accessible,has_green_zones,energy_certificate,has_parking,Neighborhood_code,Neighborhood_name,District_code,District_name
16157,5288,Piso en venta en calle Alcatraz,67.0,NaN,3,1,1,705,140000,Pisos,...,False,False,False,False,G,False,15,Opañel,3,Carabanchel

# Creating new column

In [8]:
df['eurm2'] = round(df['buy_price'] / df['sq_mt_built'],2)
df.head(2)

,id,title,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,floor,rent_price,buy_price,house_type_id,...,has_storage_room,is_accessible,has_green_zones,energy_certificate,has_parking,Neighborhood_code,Neighborhood_name,District_code,District_name,eurm2
0,21742,"Piso en venta en calle de Godella, 64",64.0,60.0,2,1,3,471,85000,Pisos,...,False,False,False,D,False,135,San Cristóbal,21,Villaverde,1328.12
1,21741,Piso en venta en calle de la del Manojo de Rosas,70.0,NaN,3,1,4,666,129900,Pisos,...,False,False,False,en trámite,False,132,Los Ángeles,21,Villaverde,1855.71

In [9]:
st.set_page_config(page_title='Visualization',
                  layout='wide',
                  initial_sidebar_state='expanded')